:root
{
    --color-background: #{$color-white};
    --color-border: #{$color-border};
    --color-foreground: #{$color-black};
    --color-blue: #{$color-lapis-lazuli};
    --color-green: #{$color-dark-green};
    --color-grey: #{$color-davys-grey};
    --color-red: #{$color-upsdell-red};
    --color-shadow: #{$color-shadow};
    --font-body: 'Bai Jamjuree', sans-serif;
    --font-branding: 'Goldman', cursive;
    --font-buttons: 'Red Hat Display', sans-serif;
}

*,
*::after,
*::before
{
    box-sizing: border-box;
}

html
{
    font-family: var(--font-body);
    font-size: 18px;
}

body
{
    margin: 0;
}

body,
button,
input,
select,
textarea
{
    appearance: none;
    box-shadow: none;
    font-family: inherit;
    font-size: 18px;
    margin: 0;
}

input
{
    color-scheme: light;

    &[type="date"]
    {
        background-image: url('/svg?name=calendar');
        background-position: right center;
        background-repeat: no-repeat;
    }

    &::-webkit-date-and-time-value
    {
        color: var(--color-foreground);
        text-align: left;
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button
    {
        appearance: none;
        margin: 0;
    }

    &::-webkit-calendar-picker-indicator
    {
        appearance: none;
        opacity: 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6
{
    margin: 0;
}

img,
svg
{
    display: inline-block;
    height: auto;
    max-width: 100%;
}

ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

[x-cloak]
{
    display: none !important;
}

