// Breakpoint with option for reverse w/auto calculation
@mixin bp($reverse: false)
{
    $measure: if($reverse, 'max-width', 'min-width');
    $width: if($reverse, 1023px, 1024px);

    @media (#{$measure}: $width)
    {
        @content;
    }
}

@mixin button
{
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

// When a device hasn't explicitly disabled motion
@mixin motion
{
    @media (prefers-reduced-motion: no-preference)
    {
        @content;
    }
}

// Only visible to screen readers
@mixin sr
{
    left: -999em;
    height: 0;
    overflow: hidden;
    position: fixed;
    width: 0;
}

@mixin standard-grid
{
    display: grid;
    gap: 1rem;
}

@mixin unify-parent($child)
{
    @at-root #{selector.unify(&, $child)}
    {
        @content;
    }
}
