// Breakpoint with option for reverse w/auto calculation
@mixin bp($size, $reverse: false)
{
    $measure: if($reverse, 'max-width', 'min-width');
    $width: if($reverse, $size - 1, $size);

    @media (#{$measure}: $width)
    {
        @content;
    }
}

// Prevent duplication of color rules
@mixin colors($dark: false)
{
    @if $dark
    {
        --color-background: #{$color-black};
        --color-foreground: #{$color-white};
        --color-blue: #{$color-carolina-blue};
        --color-green: #{$color-yellow-green};
        --color-grey: #{$color-spanish-grey};
        --color-red: #{$color-candy-pink};
    }
    @else
    {
        --color-background: #{$color-white};
        --color-foreground: #{$color-black};
        --color-blue: #{$color-lapis-lazuli};
        --color-green: #{$color-dark-green};
        --color-grey: #{$color-davys-grey};
        --color-red: #{$color-upsdell-red};
    }
}

// Common use layouts
@mixin fg
{
    align-content: center;
    border-bottom: 2px dotted var(--color-grey);
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;

    h3
    {
        @include sr;
    }
}

@mixin formg
{
    padding: 1rem 0;

    @include xbp
    {
        padding: 1rem 0 0 0;
    }
}

@mixin lg
{
    display: grid;
    gap: 1rem;
}

@mixin listg($area)
{
    &__list
    {
        @include lg;
    }

    .#{$area}
    {
        padding-bottom: 1rem;

        @include xbp
        {
            padding-bottom: 0;
        }

        &:last-child
        {
            border-bottom: none;
            padding-bottom: 0;
        }
    }
}

// When a device hasn't explicitly disabled motion
@mixin motion
{
    @media (prefers-reduced-motion: no-preference)
    {
        @content;
    }
}

// Only visible to screen readers
@mixin sr
{
    left: -999em;
    height: 0;
    overflow: hidden;
    position: fixed;
    width: 0;
}

// For MVC purposes
@mixin xbp
{
    @include bp(1024px)
    {
        @content;
    }
}

@mixin xbr
{
    @include bp(1024px, true)
    {
        @content;
    }
}
