$color-black: #020202;
$color-white: #fdfdfd;

$color-dark-green: #176317;
$color-davys-grey: #575757;
$color-lapis-lazuli: #145890;
$color-upsdell-red: #af1225;

$color-candy-pink: #f16f7e;
$color-carolina-blue: #439ce5;
$color-spanish-grey: #969696;
$color-yellow-green: #29ae29;
