@use "sass:color";

$asphalt: #0d0805;
$porcelain: #faf9f6;
$carmine: #9b2730;
$matisse: #16568d;
$killarney: #235c2d;
$scarpa: #525260;

:root {
  --color-accent: #{$scarpa};
  --color-accent-darker: #{color.scale($scarpa, $lightness: -45%)};
  --color-accent-decorative: #{color.scale($scarpa, $lightness: 75%)};
  --color-background: #{$porcelain};
  --color-danger: #{$carmine};
  --color-danger-darker: #{color.scale($carmine, $lightness: -45%)};
  --color-foreground: #{$asphalt};
  --color-foreground-lighter: #{color.scale($asphalt, $lightness: 10%)};
  --color-links: #{$matisse};
  --color-links-darker: #{color.scale($matisse, $lightness: -45%)};
  --color-success: #{$killarney};
  --color-success-darker: #{color.scale($killarney, $lightness: -45%)};
  --transition-base: 300ms ease-in-out;
}

* {
  &,
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html {
  font-size: 16px;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: 'Albert Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 1rem;
}

a {
  transition: background-color var(--transition-base),
              border-color var(--transition-base),
              color var(--transition-base);

  &,
  &:active,
  &:visited {
    color: var(--color-links);
  }

  &:focus,
  &:hover {
    color: var(--color-links-darker);
  }
}

button,
input {
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

button {
  align-items: center;
  background-color: transparent;
  border: 2px solid var(--color-accent);
  border-radius: 3px;
  color: var(--color-accent);
  cursor: pointer;
  display: inline-flex;
  font-size: 0.75rem;
  font-weight: 600;
  height: 3rem;
  letter-spacing: 0.15rem;
  padding: 0 1.5rem;
  text-transform: uppercase;
  transition: background-color var(--transition-base),
              border-color var(--transition-base),
              color var(--transition-base);

  &:focus,
  &:hover {
    border-color: var(--color-accent-darker);
    color: var(--color-accent-darker);
  }

  &.primary {
    background-color: var(--color-accent);
    color: var(--color-background);

    &:focus,
    &:hover {
      background-color: var(--color-accent-darker);
      border-color: var(--color-accent-darker);
    }
  }

  &.danger {
    background-color: var(--color-danger);
    border-color: var(--color-danger);
    color: var(--color-background);

    &:focus,
    &:hover {
      background-color: var(--color-danger-darker);
      border-color: var(--color-danger-darker);
    }
  }

  &.ghost {
    border-color: var(--color-foreground-lighter);
    border-style: dashed;
    color: var(--color-foreground-lighter);

    &:focus,
    &:hover {
      border-color: var(--color-foreground);
      color: var(--color-foreground);
    }
  }
}

input {
  border: 2px solid var(--color-accent);

  &:not([type="checkbox"]) {
    background-color: var(--color-background);
    border-radius: 3px;
    height: 3rem;
    padding: 0 0.75rem;
    width: 100%;
  }

  &[type="checkbox"] {
    border-radius: 3px;
    height: 1rem;
    transition: background-color var(--transition-base);
    width: 1rem;

    &:checked {
      background-color: var(--color-accent);
      box-shadow: inset 0 0 0 2px var(--color-background);
    }
  }
}

label,
.label {
  color: var(--color-accent);
  cursor: pointer;
  font-size: 0.85rem;
  text-transform: uppercase;
}

header {
  align-items: center;
  display: flex;
  height: 3rem;
  justify-content: center;
  margin: auto;
  width: 340px;

  &.auth {
    display: grid;
    gap: 1rem;
    height: auto;
  }

  nav {
    display: flex;
    gap: 1rem;
    justify-content: center;

    a {
      align-items: center;
      background-color: var(--color-background);
      border: 2px solid var(--color-links);
      border-radius: 3px;
      display: flex;
      font-size: 0.85rem;
      font-weight: 600;
      height: 3rem;
      padding: 0.5rem 1rem;
      text-decoration: none;
      text-transform: uppercase;

      &[aria-current="page"] {
        background-color: var(--color-links);
        color: var(--color-background);

        &:focus,
        &:hover {
          background-color: var(--color-links-darker);
          border-color: var(--color-links-darker);
        }
      }
    }
  }
}

.branding {
  text-align: center;

  a {
    font-size: 1.65rem;
    font-weight: 600;
    text-decoration: none;

    &,
    &:active,
    &:focus,
    &:hover,
    &:visited {
      color: black;
    }
  }
}

main {
  margin: 1rem 0;
}

footer {
  align-items: center;
  color: var(--color-accent);
  display: flex;
  font-size: 0.85rem;
  gap: 1rem;
  height: 2rem;
  justify-content: center;
  margin: auto;
  width: 340px;

  a {
    font-weight: 600;
    text-decoration: underline solid 2px;
    text-transform: uppercase;
  }
}

div[role="alert"] {
  color: var(--color-danger);
  display: grid;
  gap: 1rem;
  padding-bottom: 1rem;

  .headline {
    font-weight: 600;
    text-transform: uppercase;
  }

  ul {
    font-size: 0.85rem;
    margin: 0;
  }
}

.login {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  height: calc(100vh - 9rem);
  justify-content: center;
  margin: auto;
  width: 340px;
}

.field {
  &:not(.checkbox) {
    align-items: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 3fr;

    label {
      text-align: right;
    }
  }

  &.checkbox {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 3fr;

    label {
      align-items: center;
      display: flex;
      gap: 1rem;
      grid-column-start: 2;
      padding: 0.5rem 0;
    }
  }

  &.button {
    align-items: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 3fr;

    button {
      grid-column-start: 2;
      justify-self: flex-start;
    }
  }
}

.entries {
  nav {
    align-items: center;
    color: var(--color-accent);
    display: flex;
    font-size: 0.85rem;
    justify-content: space-between;
    margin: auto;
    width: 340px;

    a {
      align-items: center;
      display: flex;
      font-weight: 600;
      gap: 0.25rem;
      height: 3rem;
      text-decoration: none;
    }

    svg {
      height: 0.75rem;
    }
  }
}

.positive {
  color: var(--color-success);
}

.negative {
  color: var(--color-danger);
}

.payday-amount {
  display: grid;
  gap: 1rem;
  grid-template-columns: 0.55fr 0.45fr;
  margin: auto;
  width: 340px;

  span:not(.label) {
    align-items: center;
    display: flex;
    font-size: 2rem;
    height: 3rem;
  }
}

.add-entry {
  .button {
    align-items: center;
    display: inline-flex;
    font-weight: 600;
    gap: 0.5rem;
    height: 3rem;
    text-decoration: none;
    text-transform: uppercase;

    .expand {
      display: block;
    }

    .compress {
      display: none;
    }
  }

  .form {
    max-height: 0;
    overflow: hidden;
    transition: max-height var(--transition-base);

    form {
      display: grid;
      gap: 1rem;
      padding: 1rem 0;
    }
  }

  &.expanded {
    .button {
      .expand {
        display: none;
      }

      .compress {
        display: block;
      }
    }

    .form {
      max-height: 100vh;
    }
  }

  .checkboxes {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding: 0 0.15rem;

    label {
      align-items: center;
      display: flex;
      gap: 1rem;
      padding: 0.5rem 0;
    }
  }
}

.entries-list {
  .empty {
    color: var(--color-accent);
    font-size: 2rem;
    font-style: italic;
    padding: 2vh 0;
  }

  .header {
    font-weight: 900;
    letter-spacing: 0.1rem;
    padding: 1rem 0 2rem 0;
    position: relative;
    text-transform: uppercase;

    &::after {
      background-color: var(--color-accent-decorative);
      bottom: 0.85rem;
      content: '';
      height: 1px;
      left: -1rem;
      position: absolute;
      right: -1rem;
    }
  }

  ul {
    display: grid;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: grid;
    gap: 1rem;
    position: relative;

    &:not(:first-child) {
      &::before {
        background-color: var(--color-accent-decorative);
        content: '';
        height: 1px;
        left: -1rem;
        position: absolute;
        right: -1rem;
        top: -0.75rem;
      }
    }
  }

  .checkboxes {
    display: flex;
    justify-content: space-between;

    label {
      align-items: center;
      display: flex;
      gap: 1rem;
    }
  }

  .delete-entry {
    display: flex;
    justify-content: space-between;

    .confirm {
      opacity: 0;
      transition: opacity var(--transition-base);
      z-index: -1;
    }

    &.expanded {
      .confirm {
        opacity: 1;
        z-index: auto;
      }
    }
  }
}

.forecast {
  .header {
    display: flex;
    font-weight: 900;
    justify-content: space-between;
    letter-spacing: 0.1rem;
    padding: 1rem 0;
    position: relative;
    text-transform: uppercase;

    span:last-child {
      color: var(--color-accent);
      font-weight: 600;
    }
  }

  ul {
    display: grid;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: grid;
    gap: 1rem;
    grid-template-columns: 0.6fr 0.4fr;

    [role="alert"] {
      grid-column: 1 / span 2;
    }
  }

  .amount {
    display: grid;
    gap: 0.25rem;
  }

  .current {
    span:not(.label) {
      font-size: 2rem;
    }
  }
}

.add-payee {
  .form {
    max-height: 0;
    overflow: hidden;
    transition: max-height var(--transition-base);

    form {
      display: grid;
      gap: 1rem;
      padding: 1rem 0;
    }
  }

  &.expanded {
    .button {
      .expand {
        display: none;
      }

      .compress {
        display: block;
      }
    }

    .form {
      max-height: 100vh;
    }
  }
}

.payees-list {
  .button {
    align-items: center;
    display: inline-flex;
    font-weight: 600;
    gap: 0.5rem;
    height: 3rem;
    text-decoration: none;
    text-transform: uppercase;

    .expand {
      display: block;
    }

    .compress {
      display: none;
    }
  }

  .empty {
    color: var(--color-accent);
    font-size: 2rem;
    font-style: italic;
    padding: 2vh 0;
  }

  .header {
    font-weight: 900;
    letter-spacing: 0.1rem;
    padding: 1rem 0 2rem 0;
    position: relative;
    text-transform: uppercase;

    &::after {
      background-color: var(--color-accent-decorative);
      bottom: 0.85rem;
      content: '';
      height: 1px;
      left: -1rem;
      position: absolute;
      right: -1rem;
    }
  }

  ul {
    display: grid;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: grid;
    gap: 1rem;
    position: relative;

    &:not(:first-child) {
      &::before {
        background-color: var(--color-accent-decorative);
        content: '';
        height: 1px;
        left: -1rem;
        position: absolute;
        right: -1rem;
        top: -0.75rem;
      }
    }
  }

  .days {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }

  .auto {
    align-items: center;
    display: flex;
    gap: 1rem;
    height: 2rem;
    padding: 0 0.15rem;
  }

  .months {
    padding: 0 0.15rem;
  }

  .checkboxes {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .month {
    align-items: center;
    display: flex;
    font-weight: 600;
    height: 2rem;
    padding: 0 1rem;
    position: relative;

    input {
      left: 0;
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;

      &:checked {
        & + span {
          color: var(--color-background);
        }
      }
    }

    span {
      position: relative;
      transition: color var(--transition-base);
    }
  }

  .delete-payee {
    display: flex;
    justify-content: space-between;

    .confirm {
      opacity: 0;
      transition: opacity var(--transition-base);
      z-index: -1;
    }

    &.expanded {
      .confirm {
        opacity: 1;
        z-index: auto;
      }
    }
  }
}
