@import 'variables';
@import 'functions';

@import 'general/elements';
@import 'general/fields';
@import 'general/layout';

@import 'pages/login';
@import 'pages/dashboard';
@import 'pages/pay-periods';
@import 'pages/payees';
