.entries
{
    nav
    {
        ul
        {
            display: flex;
            flex-flow: row wrap;
            font-size: 0.8rem;
            justify-content: space-between;
            margin: auto;
            max-width: 480px;
        }

        li
        {
            & > a,
            & > time
            {
                align-items: center;
                display: flex;
                flex-flow: row wrap;
                gap: 0.25rem;
                height: 3rem;
                position: relative;
            }

            & > a
            {
                text-decoration: none;
            }

            & > time
            {
                border: 2px solid;
                border-radius: 3px;
                color: var(--color-grey);
                font-weight: 700;
                padding: 0 1rem;
            }
        }
    }

    &__amount
    {
        .current
        {
            font-size: 3rem;

            &.positive
            {
                color: var(--color-green);
            }

            &.negative
            {
                color: var(--color-red);
            }
        }

        .total
        {
            color: var(--color-grey);
            font-size: 0.75rem;
        }
    }

    &__add__form,
    .entry
    {
        @include fg;

        @include xbp
        {
            align-items: center;
            border-bottom: none;
        }

        .field
        {
            &--input
            {
                width: 100%;

                @include xbp
                {
                    width: auto;
                }
            }

            &--boolean
            {
                margin: -1rem 0;

                @include xbp
                {
                    margin: 1rem 0 0 0;
                }
            }

            &__number
            {
                @include xbp
                {
                    width: 4rem;
                }
            }

            &__list
            {
                @include xbp
                {
                    width: 13.5rem;
                }
            }
        }

        .button
        {
            @include xbp
            {
                margin-top: 1rem;
            }
        }
    }

    &__add__form
    {
        @include formg;
    }

    @include listg('entry');
}
