.login
{
    &__form
    {
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
        justify-content: space-between;
        margin: auto;
        max-width: 480px;

        .field--input
        {
            width: 100%;
        }
    }
}
