.pay-periods
{
    &__add__form,
    .pay-period
    {
        @include fg;

        .field
        {
            &__date
            {
                order: 1;
            }

            &__checkbox
            {
                align-self: flex-end;
                order: 2;
                top: 0.25rem;

                @include xbp
                {
                    align-self: center;
                    order: 3;
                    top: 0.5rem;
                }
            }

            &__number
            {
                order: 3;

                @include xbp
                {
                    order: 2;
                }
            }
        }

        .button
        {
            &--add
            {
                order: 4;
            }

            &--cancel
            {
                order: 5;
            }
        }
    }

    &__add__form
    {
        @include formg;
    }

    @include listg('pay-period')
}
