.payees
{
    &__add__form,
    .payee
    {
        @include fg;

        .field
        {
            &__text
            {
                width: 100%;

                @include xbp
                {
                    order: 1;
                    width: auto;
                }
            }

            &__number
            {
                width: 6rem;

                @include xbp
                {
                    order: 2;
                    width: 8rem;
                }

                label
                {
                    width: 4rem;

                    @include xbp
                    {
                        width: auto;
                    }
                }
            }

            &__months
            {
                @include xbp
                {
                    order: 4;
                    width: 100%;
                }
            }
        }

        & > .field__checkbox
        {
            margin: -1rem 0;
            width: 100%;

            @include xbp
            {
                margin: 1rem 0 0 0;
                order: 3;
                width: auto;
            }
        }

        .options
        {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            @include xbp
            {
                display: flex;
                justify-content: space-between;
                margin-top: 1rem;
            }
        }

        .select-all
        {
            @include xbp
            {
                margin-top: 1rem;
            }

            .label
            {
                display: inline;
            }
        }

        .button
        {
            &--add,
            &--cancel
            {
                @include xbp
                {
                    margin-top: 0;
                }
            }

            &--add
            {
                @include xbp
                {
                    order: 5;
                }
            }

            &--cancel
            {
                @include xbp
                {
                    order: 6;
                }
            }
        }
    }

    &__add__form
    {
        @include formg;
    }

    @include listg('payee');
}
