.page
{
    margin: auto;

    &__dashboard
    {
        @include bp
        {
            width: 80%;
        }

        .form__fields
        {
            @include bp
            {
                margin: 0;
            }
        }
    }

    &__forecast,
    &__pay-periods
    {
        @include bp
        {
            width: 30rem;
        }
    }

    &__login
    {
        @include bp
        {
            width: 20rem;
        }
    }
}

.pay-period
{
    zoom: 1;
}

.pay-date
{
    display: flex;
    flex-flow: row wrap;
    gap: 0 1rem;
    justify-content: space-between;

    &__title
    {
        width: 100%;
    }

    &__amount
    {
        font-size: 2rem;
        width: 35%;
    }

    .form__number
    {
        width: 7rem;
    }
}

.entry
{
    display: grid;
    grid-template-columns: 1fr 2rem;
    gap: 1rem;

    @include bp
    {
        grid-template-columns: 1fr 20%;
    }

    .field__delete
    {
        position: relative;

        @include bp
        {
            align-self: center;
        }

        &.open
        {
            .button--more
            {
                svg
                {
                    color: var(--color-grey);
                }
            }
        }
    }

    .button
    {
        &--more
        {
            border-color: transparent;
            padding: 0;

            @include bp
            {
                margin: 0 0 0 auto;
            }

            span
            {
                @include sr;
            }
        }

        &--danger
        {
            position: absolute;
            right: 3rem;
            top: 0;
            width: 9rem;

            @include bp
            {
                background-color: var(--color-background);
                color: var(--color-red);
            }

            &:hover
            {
                @include bp
                {
                    background-color: var(--color-red);
                    color: var(--color-background);
                }
            }
        }
    }
}
