:root
{
    @include colors;
    --font-body: 'Helvetica Neue', sans-serif;

    &.scheme-dark
    {
        @include colors(true);
    }

    @media (prefers-color-scheme: dark)
    {
        @include colors(true);

        &.scheme-light
        {
            @include colors;
        }
    }
}

*,
*::after,
*::before
{
    box-sizing: border-box;
}

html
{
    font-size: 18px;
}

body
{
    background-color: var(--color-background);
    color: var(--color-foreground);
    margin: 0;
}

body,
button,
input,
select,
textarea
{
    font-family: var(--font-body);
    font-size: 1rem;
}

a
{
    color: var(--color-blue);
}

button,
input,
select,
textarea
{
    appearance: none;
    background-color: transparent;
    color: var(--color-foreground);
    margin: 0;
}

button
{
    align-items: center;
    border: 2px solid var(--color-blue);
    border-radius: 3px;
    color: var(--color-blue);
    cursor: pointer;
    display: flex;
    flex-flow: row;
    font-size: 0.888888888888889rem;
    gap: 0.5rem;
    height: 3rem;
    padding: 0 1rem;
    text-transform: uppercase;

    @include xbp
    {
        height: auto;
        padding: 0.5rem 1rem;
    }

    &.danger,
    &.primary
    {
        color: var(--color-background);
    }

    &.danger
    {
        background-color: var(--color-red);
        border-color: var(--color-red);
    }

    &.primary
    {
        background-color: var(--color-blue);
    }

    &[disabled]
    {
        border-color: var(--color-grey);
        color: var(--color-grey);
        cursor: auto;
    }

    &.form-toggle
    {
        &.open
        {
            svg
            {
                transform: rotate(180deg);
            }
        }
    }

    &.select-all
    {
        .label
        {
            text-align: right;
            width: 6.666666666666667rem;

            &::before
            {
                content: 'De-';
            }
        }

        .on
        {
            display: none;
        }

        &.empty
        {
            .label
            {
                &::before
                {
                    content: '';
                }
            }

            .on
            {
                display: inline-block;
            }

            .off
            {
                display: none;
            }
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p
{
    margin: 0;
}

.checkbox
{
    cursor: pointer;

    input
    {
        bottom: 0;
        left: 0;
        outline-offset: -0.5rem;
        position: absolute;
        right: -1rem;
        top: 0;
        z-index: -1;

        &:checked
        {
            & + span
            {
                .checked
                {
                    display: inline-block;
                }

                .unchecked
                {
                    display: none;
                }
            }
        }
    }

    .checked
    {
        display: none;
    }
}

img,
svg
{
    display: inline-block;
    height: auto;
    max-width: 100%;
}

ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

[role="alert"]
{
    color: var(--color-red);
}
