:root
{
    @include colors;
    --font-body: 'Helvetica Neue', sans-serif;

    &.scheme-dark
    {
        @include colors(true);
    }

    @media (prefers-color-scheme: dark)
    {
        @include colors(true);

        &.scheme-light
        {
            @include colors;
        }
    }
}

html
{
    font-size: 18px;
}

body
{
    background-color: var(--color-background);
    color: var(--color-foreground);
}

body,
button,
input,
select,
textarea
{
    font-family: var(--font-body);
    font-size: 1rem;
}

a
{
    color: var(--color-blue);
}

button,
input,
select,
textarea
{
    appearance: none;
    background-color: transparent;
    color: var(--color-foreground);
    margin: 0;
}

button
{
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
    cursor: pointer;

    &.danger,
    &.primary
    {
        color: var(--color-background);
    }

    &.danger
    {
        background-color: var(--color-red);
        border-color: var(--color-red);
    }

    &.primary
    {
        background-color: var(--color-blue);
    }

    &[disabled]
    {
        border-color: var(--color-grey);
        color: var(--color-grey);
        cursor: auto;
    }

    &.form-toggle
    {
        &.open
        {
            svg
            {
                transform: rotate(180deg);
            }
        }
    }

    &.select-all
    {
        .label
        {
            &::before
            {
                content: 'Des';
            }
        }

        .on
        {
            display: none;
        }

        &.empty
        {
            .label
            {
                &::before
                {
                    content: 'S';
                }
            }

            .on
            {
                display: inline-block;
            }

            .off
            {
                display: none;
            }
        }
    }
}

.checkbox
{
    cursor: pointer;

    input
    {
        @include sr;

        &:checked
        {
            & + span
            {
                .checked
                {
                    display: inline-block;
                }

                .unchecked
                {
                    display: none;
                }
            }
        }
    }

    .checked
    {
        display: none;
    }
}

img,
svg
{
    display: inline-block;
    height: auto;
    max-width: 100%;
}
