.field
{
    position: relative;

    [role="alert"]
    {
        font-style: normal;
    }

    &__help
    {
        color: var(--color-grey);
        display: block;
        font-size: 0.8rem;
    }

    &--input
    {
        zoom: 1;

        label,
        input
        {
            width: 100%;
        }

        label
        {
            display: flex;
            flex-flow: row wrap;
            font-size: 0.75rem;
            justify-content: space-between;
        }

        input
        {
            border: 2px solid var(--color-grey);
            border-radius: 3px;
            height: 2.5rem;
            padding: 0 0.35rem;
        }
    }

    &--boolean
    {
        label
        {
            align-items: center;
            display: inline-flex;
            flex-flow: row;
            height: 3rem;
            position: relative;

            @include xbp
            {
                gap: 0.5rem;
                height: auto;
            }
        }

        [aria-hidden="true"]
        {
            color: var(--color-grey);
            display: flex;
            flex-flow: row;
            justify-content: center;
            width: 3rem;

            @include xbp
            {
                width: auto;
            }
        }

        [role="alert"]
        {
            font-size: 0.75rem;
            left: 3rem;
            position: absolute;
            top: 0;
        }

        .field__help
        {
            bottom: 0;
            left: 3rem;
            position: absolute;
        }
    }

    &--options
    {
        .label
        {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }
    }
}
