.wrapper
{
    @include lg;
    margin: auto;
    max-width: calc(414px - 3rem);

    @include xbp
    {
        max-width: calc(1024px - 3rem);
    }
}

header
{
    @include xbp
    {
        align-items: center;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }

    ul
    {
        display: flex;
        flex-flow: row;
        gap: 1rem;
        justify-content: center;

        a
        {
            align-items: center;
            background-color: var(--color-blue);
            border: 2px solid var(--color-blue);
            border-radius: 3px;
            color: var(--color-background);
            display: flex;
            flex-flow: row;
            font-weight: 700;
            justify-content: center;
            height: 3rem;
            text-decoration: none;
            width: 3rem;

            @include xbp
            {
                gap: 0.5rem;
                height: auto;
                padding: 0.25rem 0.5rem;
                width: auto;
            }

            svg
            {
                @include xbp
                {
                    height: 1rem;
                    width: 1rem;
                }
            }

            span
            {
                @include xbr
                {
                    @include sr;
                }
            }

            &[aria-current="page"]
            {
                background-color: var(--color-background);
                color: var(--color-blue);
            }
        }
    }
}

.branding
{
    align-items: center;
    color: var(--color-foreground);
    display: flex;
    flex-flow: row;
    font-size: 2rem;
    font-weight: 700;
    height: 4rem;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
}

main
{
    @include lg;
}

.page
{
    &__title
    {
        display: flex;
        flex-flow: row;
        justify-content: center;

        @include xbp
        {
            display: none;
        }
    }

    &__status,
    &__errors
    {
        border: 2px dotted;
        border-radius: 3px;
        margin: 0.5rem;
        padding: 0.5rem;

        @include xbp
        {
            margin: 0;
        }
    }

    &__status
    {
        p
        {
            align-items: flex-start;
            border-color: var(--color-grey);
            color: var(--color-grey);
            display: grid;
            gap: 0.5rem;
            grid-template-columns: 1rem 1fr;
        }
    }

    &__errors
    {
        p
        {
            margin: 0.5rem 0;
        }

        ul
        {
            display: grid;
            gap: 0.25rem;
        }

        li
        {
            align-items: flex-start;
            display: grid;
            gap: 0.5rem;
            grid-template-columns: 1rem 1fr;
        }
    }
}

.legend
{
    display: none;
}

footer
{
    color: var(--color-grey);
    font-size: 0.8rem;

    ul
    {
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
        justify-content: center;

        @include xbp
        {
            gap: 2rem;
        }
    }

    .copyright
    {
        text-align: center;
        width: 100%;

        @include xbp
        {
            width: auto;
        }
    }

    .branch
    {
        display: flex;
        flex-flow: row;
        gap: 0.25rem;
    }

    a
    {
        display: inline-flex;
        flex-flow: row;
        gap: 0.1rem;

        svg
        {
            align-self: flex-start;
        }
    }
}
